<!-- templates/about -->
{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}

<h1><abbr title="Habesha Elite Society">HEX</abbr></h1>

<h2>Introduction</h2>
<p>
    Have you ever wondered 'is this it all'? Let's elaborate.
    You made it to college <em>-bravo!</em> and you're excited to find out
    what it has to offer <em>-great!</em> You settle in a department,
    join a class, start living with wonderful dorm-mates who some you like
    and some you don't -it's OK! Soon enough, however, you start to wonder 
    'Is this it all?' Has this happened to you?
</p>
<p>
    Well
</p>
{% endblock content %}
